<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <script src="../../js/vue.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app-27" v-show="ok">1
    <!--<template v-if="loginType ==='username'">-->
        <!--<label>Username</label>-->
        <!--<input key="username-input" placeholder="Enter your username"/>-->
    <!--</template>-->
    <!--<template v-if="loginType ==='email'">-->
        <!--<label>Email</label>-->
        <!--<input key="email-input" placeholder="Enter your Email"/>-->
    <!--</template>-->
    <!--<button v-on:click="clickMethod">Toggle login type</button>-->

</div>
<!--<div id="app-27">-->
    <!--<template v-if="loginType ==='username'">-->
        <!--<label>Username</label>-->
        <!--<input placeholder="Enter your username"/>-->
    <!--</template>-->
    <!--<template v-if="loginType ==='email'">-->
        <!--<label>Email</label>-->
        <!--<input placeholder="Enter your Email"/>-->
    <!--</template>-->
    <!--<button v-on:click="clickMethod">Toggle login type</button>-->
<!--</div>-->

<script src="index.js"></script>
</body>
</html>