<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../../js/vue.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<div>-->
<!--<h1 v-if="ok">h1</h1>-->
<!--<h1 v-else>else</h1>-->
<!--</div>-->
<!--<div>-->
<!--<template v-if="ok">-->
<!--<h1>Title</h1>-->
<!--<p>Paragraph 1</p>-->
<!--<p>Paragraph 2</p>-->
<!--</template>-->
<!--</div>-->
<div id="app-26">
    <!--<div v-if="Math.random() >0.5">-->
        <!--Now you see me-->
    <!--</div>-->
    <!--<div v-else>-->
        <!--Now you don't-->
    <!--</div>-->
    <div v-if="type==='A'">
        A
    </div>
    <div v-else-if="type==='B'">
        B
    </div>
    <div v-else-if="type==='C'">
        C
    </div>
    <div v-else>
        not A/B/C
    </div>
</div>
<script src="index.js"></script>
</body>
</html>