<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <script src="../../js/vue.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--每用一次组件，就会有一个它的新实例被创建-->
<!--<div id="components-demo">-->
<!--&lt;!&ndash;<button-counter></button-counter>&ndash;&gt;-->
<!--&lt;!&ndash;<button-counter></button-counter>&ndash;&gt;-->
<!--&lt;!&ndash;<button-counter></button-counter>&ndash;&gt;-->
<!--<blog-post  title="My journey with Vue"></blog-post>-->
<!--<blog-post  title="Blogging with Vue"></blog-post>-->
<!--<blog-post  title="Why Vue is so fun"></blog-post>-->
<!--</div>-->
<!--<div id="blog-post-demo">-->
<!--<div v-bind:style="{fontSize:postFontSize+'em'}">-->
<!--&lt;!&ndash;<blog-post v-for="post in posts" v-bind:title="post.title" v-bind:key="post.id" ></blog-post>&ndash;&gt;-->
<!--&lt;!&ndash;当组件需要的数据比较多而且复杂的时候需要将对象传给子组件&ndash;&gt;-->
<!--&lt;!&ndash;可以通过 $event 访问到被抛出的这个值&ndash;&gt;-->
<!--&lt;!&ndash;如果事件处理函数是一个方法的时候，方法的第一个参数就是返回的参数,依次类推，多个参数也是如此&ndash;&gt;-->
<!--<blog-post v-for="post in posts" v-bind:post="post" v-bind:key="post.id"-->
<!--v-on:enlarge-text="fontSizeMethod"></blog-post>-->
<!--&lt;!&ndash;v-on:enlarge-text="postFontSize+= $event"></blog-post>&ndash;&gt;-->
<!--&lt;!&ndash;v-on:enlarge-text="postFontSize+=0.1"></blog-post>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--<div id="custom-input">-->
<!--<custom-input v-model="value"></custom-input>-->
<!--<p>{{value}}</p>-->
<!--</div>-->
<div id="slotDemo">
    <alert-box>message slot</alert-box>
</div>
<script src="index.js"></script>
</body>
</html>