<!DOCTYPE html>
<html lang="en" xmlns:v-demo="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <script src="../../js/vue.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<div id="example-mixin">-->
    <!--<component-mixin></component-mixin>-->
<!--</div>-->
<!--<div id="example-directive"  >-->
    <!--<span v-demo:foo.a.b="data1" >{{data1}}</span>-->
    <!--{{data1}}<input v-model="data1"/>-->
<!--</div>-->
<!--<div id="example-render" >-->
    <!--<example-render level=1>Hello</example-render>-->
<!--</div>-->
<!--<div id="example-el">-->
    <!--<example-el></example-el>-->
<!--</div>-->
<!--<div id="example-anchored">-->
    <!--<anchored-heading v-bind:level=1>-->
        <!--hello-->
        <!--<br>-->
        <!--helloa-->
    <!--</anchored-heading>-->
<!--</div>-->
<!--<div id="demo-javascript">-->
    <!--<demo-if v-bind:choose="choose"></demo-if>-->
    <!--{{modelValue}} <demo-model v-model="modelValue"></demo-model>-->
<!--</div>-->
<div id="example-slot">
    <demo-slot>
        <h1 slot-scope="scopeProp" slot="s1">
            {{scopeProp.data.text | capitalize}}
        </h1>
    </demo-slot>
</div>
<script src="index.js"></script>
</body>
</html>